/* 
colors
MAIN - brown: 763d32
ACCENT - pink: f6aeb6
BODY - beige: f2dbcb
nav bar black: 333131
nav bar gray: 979797
bunny grass: 38883c
*/


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    width: 100%;
    background-color:#f2dbcb;
}

h1,h2,h3 {
    margin-bottom: .7em;
    margin-top:.7em;
}

h1 {
    margin-top:0;
    font-family: 'Passion One', cursive;
    background-image: url(/image/main_ribbon_loop.png);
    text-align:center;
    color:white;
    text-shadow: 0 0 5px black;
    line-height:75px;
    height:75px;
    border: 1px solid #dba8ae;
    border-width: 0 1px;
}

h2, h3 {
    font-family:monospace; /* Not Final */
}

p {
    font-family: 'Roboto', sans-serif;  
    padding-left: 2em;
    padding-right: 3em;
}

#content {
    margin: 0 auto;
    width: 85%;
    background-color: white;
    float: center;
    padding:20px;
    border: 0 solid #f6aeb6;
    border-width: 0 5px;
    outline: 5px solid #763d32;
    padding-bottom:100px;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100px;
    background-image:linear-gradient(to bottom, #562c23, #7a543f);
    background-color: #763d32;
    position:relative;
    z-index:100; /* to cover outline */
}

mark{
    color: red;
}

.button {
    background-color: #763d32;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top:25px;
    display:none; /* TEMPORARY */
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: center;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}
/* * * * * * * * * * * * * * * * * * * * * * * * *
    NAVIGATION
 * * * * * * * * * * * * * * * * * * * * * * * * */
#nav {
    position:relative;
    display:block;
    width:100%;
    height:70px;
    background-image:linear-gradient(to bottom, #562c23, #7a543f);
    color:white;
    text-shadow: 0 0 2px black;
    font-family:alexismarie;
    z-index:1000; /* Goes above everything */
}
#nav a {
    color:inherit;
    text-decoration: none;
}
/* Nav Logo */
    #nav #logo {
        font-family:unocide;
        position:absolute;
        display:block;
        width:300px;
        height:inherit;
        font-size:30px;
        background-image: repeating-linear-gradient(
            to right,
            #763d32,
            #763d32 20px,
            #f6aeb6 20px,
            #f6aeb6 40px)
    }
        #logo span {
        position:absolute;
        top:50%;left:50%;transform: translate(-50%,-50%);/*Center*/
        text-shadow: 0 0 5px black;
        white-space: nowrap;

    }
/* Text & Dropdown */
    #nav #nav-text-container {
        height:inherit;
        margin-left:300px; /* Equal to logo size */
    }
        #nav-text-container ul {
            white-space:nowrap;
            list-style: none;
        }
            #nav-text-container .bhover {
                position:relative;
                display:inline-block;
                text-align:center;
                padding: 23px; /* try and find a way to make this automatic */
                width:200px;
                height:70px;
                font-size: 18px;
            }
                .bhover > a {
                    font-weight:900;
                    font-size:23px;
                }
/* Dropdown */
                .dropdown {
                    position:absolute;
                    left:50%;
                    top:100%;
                    transform: translateX(-50%);
                    display:none;
                    border-bottom: 5px solid #ffaaaa;
                    border-radius: 0 0 5px 5px;
                }
                    .dropdown li {
                    width:200px;
                    padding:23px;
                    background-color:#603f39;
                    white-space: pre-wrap;
                    border-bottom: 1px solid #4c251d;
                    transition: background-color 0.15s;
                }
/* Hover */
#nav #nav-text-container .bhover:hover{
/*    background-image:linear-gradient(to bottom, #7c4134 2px, #4c251d 25px);*/
    background-color:#4c251d;
}
.bhover:hover .dropdown {
    display:block;
}
.dropdown li:hover {
    background-color:#f6aeb6;
}